<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my.mybatispp.mapper.TchildMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.my.mybatispp.entity.Tchild">
        <id column="Idme" property="Idme" />
        <result column="parentId" property="parentId" />
        <result column="name" property="name" />
        <result column="v" property="v" />
    </resultMap>

</mapper>
